@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated)
{
    <li><a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")"><span class="impersonate">@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername))
       <br />@T("Account.ImpersonatedAs.Finish")</span></a></li>
}
@if (Model.DisplayAdminLink)
{
    <li><a href="@Url.Content("~/admin")" class="ico-admin">@T("Account.Administration")</a>
    </li>
    <li class="divider"></li>
}
